.box{
  display: flex;
  padding: 1rem;
  margin: 1rem;
}

.card {
  display: flex;
  flex-wrap: wrap;

}

.cardlist {
  margin: 1rem;
  padding: 5rem;
  background-color: rgb(182, 206, 207);
  width: 340px;
  border-radius: 4%;
  list-style: none;
}

.cards button{
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: 1rem;
}

.weeklist{
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.week{
  list-style: none;
}

.buttons{
  padding: 0.5rem;
  margin: 0.5rem;

}

img{
  max-width: 300px;
}


