/* ----------- GENERAL STYLING -------- */

.list_element_styling{
  list-style: none;
}

img{
  width: 100%;
  border-radius: 8%;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%)
}

.links{
  text-decoration: none;
  color: black;
}

/* --------- CARLIST COMPONENT -------- */

.cardlist {
  display: flex;
  flex-wrap: wrap;

}

/* ----------- CAR COMPONENT ---------- */

.each_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  padding: 4rem;
  background-color: #e0e0e0;
  gap: 1rem;
  width: 250px;
  height: 320px;
  list-style: none;
  border-radius: 8%;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%)
}

.availability_list{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
}

.equiptment_list{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* ------- MATERIAL UI STYLE OVERRIDES ------ */

.MuiCardMedia-img{
  max-width: 200px;
}
