.box{
  display: flex;
  padding: 1rem;
  margin: 1rem;
}

.card {
  display: flex;
  flex-wrap: wrap;

}

.each_card_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  padding: 4rem;
  background-color: #e0e0e0;
  gap: 1rem;
  width: 250px;
  height: 320px;
  list-style: none;
  border-radius: 8%;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%)
}

.mapweek{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
}

.mapextras{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.liststyles{
  list-style: none;
}

img{
  width: 100%;
  border-radius: 8%;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%)
}

.MuiCardMedia-img{
  max-width: 200px;
}

.links{
  text-decoration: none;
  color: black;
}